{% extends "layout.html" %}
{% block content %}
	<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">
						<a href="#me" class="icon fa-home active"><span>Home</span></a>
						<a href="#work" class="icon fa-institution"><span>Institution</span></a>
						<a href="#research" class="icon fa-book"><span>Research</span></a>
						<a href="#achievement" class="icon fa-hand-peace-o"><span>Achievement</span></a>
						<a href="#application" class="icon fa-cloud"><span>Application</span></a>
						<a href="#contact" class="icon fa-link"><span>Link</span></a>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Me -->
							<article id="me" class="panel" style="background-color: ;">

							<h2 style="margin: 20px 0px 0px 20px;">釘本 寿光<br/>(Toshimitsu Kugimoto) </h2>
			
								<br/>

								<div style="margin-left: 20px; font-size: 24px;">
									<p>千葉大学 融合科学研究科  <br/>
									情報科学専攻 知能情報コース一年 <br/><br/>
									趣味： 映画鑑賞，スポーツ(野球)，読書 <br/>
									資格： 少林寺拳法初段，TOEIC: 935点 <br/><br/>
									ブログはこちら → <a href="http://toshi-kun.com"><img style="width: 6%;" src="/static/images/my_blog.png" /></a></p>
								</div>

								<a href="#work" class="jumplink pic">
									<span class="arrow icon fa-chevron-right"><span>See my work</span></span>
									<img src="/static/images/ore.jpg" alt="" />
								</a>
							</article>

						<!-- Institution -->
							<article id="work" class="panel">
								<header>
									<h2>Institution</h2>
								</header>
								<br/>
								
								<h3 style="display: inline;">School</h3>
								<img src="/static/images/university.png" style="width: 7%; display: inline; margin-left: 10px;"><br/><br/>
								<ul>
									<li>2011/03: <a href="http://kurume.fku.ed.jp/html/index.html">福岡県立久留米高等学校</a> (卒業)</li>
									<li>2011/04: <a href="http://www.tj.chiba-u.jp/">千葉大学 工学部 情報画像学科</a> (入学)</li>
									<li>2015/03: <a href="http://www.tj.chiba-u.jp/">千葉大学 工学部 情報画像学科</a> (卒業)</li>
									<li>2015/04: <a href="http://www.chiba-u.ac.jp/section/graduate_school/mix.html">千葉大学融合科学研究科情報科学専攻知能情報コース</a>(入学)</li>
									<li>2015/08 ~ 2016/06: <a href="http://www.uef.fi/en/etusivu">University of Eastern Finland</a>, Computer Science, <a href="https://www.uef.fi/web/spectral">Spectral Color Research group</a> (交換留学)</li>
									<li>2018/03: <a href="http://www.chiba-u.ac.jp/section/graduate_school/mix.html">千葉大学融合科学研究科情報科学専攻知能情報コース</a>(卒業見込)</li>
								</ul>
								<br/>


								<h3 style="display: inline;">Company (Internship)</h3>
								<img src="/static/images/company.png" style="width: 7%; display: inline; margin-left: 10px;"><br/><br/>
								<ul>
									<li>2016/01/11 ~ 2016/06/10: <a href="http://www.arcusys.fi/web/en">Arcusys Ltd.</a> (<a href="https://www.google.co.jp/maps/place/%E3%83%95%E3%82%A3%E3%83%B3%E3%83%A9%E3%83%B3%E3%83%89+%E3%83%A8%E3%82%A8%E3%83%B3%E3%82%B9%E3%83%BC/@63.2466186,19.0751313,3.55z/data=!4m5!3m4!1s0x469b8665df05a50d:0x601790016cff7e27!8m2!3d62.6010155!4d29.7635719">Joensuu</a>, Finland)</li>
									<li>2016/09/24, 26 ~ 30: <a href="http://www.livesense.co.jp/">株式会社リブセンス</a></li>
								</ul>
								<br/>

								<h3 style="display: inline;">Others</h3>
								<img src="/static/images/tobitate.png" style="width: 7%; display: inline; margin-left: 10px;"><br/><br/>
								<ul>
									<li>2015/03 ~ : <a href="http://www.tobitate.mext.go.jp/">トビタテ！留学Japan</a> 2期生</li>
								</ul>
		
							</article>

						<!-- Research -->
							<article id="research" class="panel">
								<header>
									<h2>Research</h2>
								</header>

								<h3 style="display: inline;">Bachelor</h3>
								<img src="/static/images/bachelor.png" style="width: 7%; display: inline; margin-left: 10px;"><br/><br/>
								<section>
									<div class="row">
										<div class="4u 12u$(mobile)">
											<a href="#" class="image fit"><img src="/static/images/s1.png" alt=""></a>
										</div>
										<div class="4u 12u$(mobile)">
											<a href="#" class="image fit"><img src="/static/images/s2.png" alt=""></a>
										</div>
										<div class="4u$ 12u$(mobile)">
											<a href="#" class="image fit"><img src="/static/images/s3.png" alt=""></a>
										</div>
										<div class="4u 12u$(mobile)">
											<a href="#" class="image fit"><img src="/static/images/s4.png" alt=""></a>
										</div>
										<div class="4u 12u$(mobile)">
											<a href="#" class="image fit"><img src="/static/images/s5.png" alt=""></a>
										</div>
										<div class="4u$ 12u$(mobile)">
											<a href="#" class="image fit"><img src="/static/images/s6.png" alt=""></a>
										</div>
									</div>
								</section>

								<h3 style="display: inline;">Master</h3>
								<img src="/static/images/master.png" style="width: 7%; display: inline; margin-left: 10px;"><br/><br/>
									<ul>
										<li>Spectral Imaging (in Finland)</li>
										<li>Natural language processing，Machine learning，Deep learning (now)</li>
									</ul>
								<br/>
							</article>

						<!-- Achievement -->
							<article id="achievement" class="panel">
								<header>
									<h2>Achievement</h2>
								</header>
								
								<h3 style="display: inline;">Domestic Conference</h3>
								<img src="/static/images/japan.png" style="width: 7%; display: inline; margin-left: 10px;"><br/><br/>
								<ul>
									<li>釘本寿光, 土門亮太, 山本昇志, 津村徳道, "光源位置の変化に伴う質感の変化に関する研究", 第15回情報フォトニクス研究グループ研究会秋合宿, (ポスター発表), (2014/09, 京都)</li>

									<li>釘本寿光, 細川菜摘, 山本昇志, 彦坂健太郎, 津村徳道,  "主成分分析を用いた反射成分分離に基づく透明感の制御", Optics&Photonics Japan 2014, (口頭発表), (2014/11, 東京)</li>

									<li>釘本寿光, 土門亮太, 山本昇志, 津村徳道, "全周囲画像における壁面までの距離の推定と撮影位置変換", 第9回情報フォトニクス研究会関東学生論文講演会,  (ポスター発表), (2015/03, 静岡)</li>
								</ul>
								<br/>

								<h3 style="display: inline;">International Conference</h3>
								<img src="/static/images/world.png" style="width: 7%; display: inline; margin-left: 10px;"><br/><br/>
								<ul>
									<li>Toshimitsu Kugimoto, Shoji Yamamoto, Ryota Domon, Kentaro Hikosaka, Mai Kuroshima, and Norimichi Tsumura, "Accurate transformation of environment map for photographic simulation"，OIE’15(The Eleventh Finland-Japan Joint Symposium on Optics in Engineering), (Oral presentation)，(2015/09, Joensuu, Finland)</li>
								</ul>
								<br/>

								<h3 style="display: inline;">Publication</h3>
								<img src="/static/images/book.jpg" style="width: 7%; display: inline; margin-left: 10px;"><br/><br/>
								<ul>
									<li><a href="http://link.springer.com/article/10.1007/s10043-016-0215-9">Toshimitsu Kugimoto, Shoji Yamamoto, Ryota Domon, Kentaro Hikosaka, Mai Kuroshima, and Norimichi Tsumura, "Transformation of environment map by changing the captured position in a cuboidal room"，Optical Review DOI: 10.1007/s10043-016-0215-9 (2016)</a></li>
								</ul>		
							</article>

						<!-- Application -->
							<article id="application" class="panel">
								<header>
									<h2>Application</h2>
								</header>

								<section>
									<div class="row">
										
										<div class="6u 12u$(mobile)">
											<a href="https://twitter-word-cloud-toshi.herokuapp.com/" class="image fit"><img src="static/images/Twitter_word.png" alt="Twitter word cloud and sentiment analysis" style="width: 100%;"></a>
											<br/>
											<p style="text-align: center;">ツイートを解析して感情分析結果とワードクラウドを表示するアプリ</p>
										</div>
										<div class="6u 12u$(mobile)">
											<a href="http://toshikugi.pythonanywhere.com/" class="image fit"><img src="static/images/Movie_Classification.png" alt="Twitter"></a>
											<br/>
											<p style="text-align: center">IMDBデータベースを元に機械学習を行い英文の感情分析を行うアプリ</p>
										</div>

									</div>
								</section>						
							</article>

						<!-- Contact -->
							<article id="contact" class="panel">
								<header>
									<h2>Link</h2>
								</header>

								<section>
									<div class="row">
										
										<div class="3u 12u$(mobile)">
											<a href="https://www.facebook.com/tosimitu.kugimoto" class="image fit"><img src="static/images/facebook.png" alt="Facebook" ></a>
										</div>
										<div class="3u 12u$(mobile)">
											<a href="https://twitter.com/Toshi_Kugi" class="image fit"><img src="static/images/twitter.png" alt="Twitter"></a>
										</div>
										<div class="3u 12u$(mobile)">
											<a href="https://www.wantedly.com/users/18019440" class="image fit"><img src="static/images/wantedly.png" alt="Wantedly"></a>
										</div>
										<div class="3u 12u$(mobile)">
											<a href="https://www.linkedin.com/in/toshimitsu-kugimoto-967a4112a?trk=hp-identity-name" class="image fit"><img src="static/images/linkedin.png" alt="Linkedin"></a>
										</div>

									</div>
								</section>


							</article>

					</div>

				<!-- Footer -->
					<div id="footer">
						<ul class="copyright">
							<li>&copy; Toshimitsu Kugimoto.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/skel-viewport.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/static/assets/js/main.js"></script>
	
{% endblock %}
